# =========================
# AUTH DATABASE
# =========================
AUTH_POSTGRES_DB=auth_db
AUTH_POSTGRES_USER=auth_user
AUTH_POSTGRES_PASSWORD=change_me_auth_password

# =========================
# JWT
# =========================
JWT_SECRET_KEY=super_secret_jwt_key_change_me

# =========================
# AUTH CLIENTS
# =========================
AUTH_CLIENT_ID=auth-api
AUTH_CLIENT_SECRET=change_me_auth_client_secret

GATEWAY_AUTH_CLIENT_ID=gateway-api
GATEWAY_AUTH_CLIENT_SECRET=change_me_gateway_secret

PHYSICAL_AUTH_CLIENT_ID=physical-api
PHYSICAL_AUTH_CLIENT_SECRET=change_me_physical_secret

# =========================
# PHYSICAL DATABASE
# =========================
PHYSICAL_POSTGRES_DB=physical_db
PHYSICAL_POSTGRES_USER=physical_user
PHYSICAL_POSTGRES_PASSWORD=change_me_physical_password

# =========================
# TEMPORAL DATABASE
# =========================
TEMPORAL_POSTGRES_USER=temporal_user
TEMPORAL_POSTGRES_PASSWORD=change_me_temporal_password

# =========================
# MINIO
# =========================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio_password

# =========================
# FRONTEND
# =========================
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# =========================
# DEPLOY
# =========================
EXTRA_ALLOWED_HOSTS=put.here.your.dns
VIRTUAL_HOST_FRONTEND=put.here.your.external.biofin.dns
VIRTUAL_HOST_GATEWAY=put.here.your.gateway.dns
LETSENCRYPT_HOST_FRONTEND=put.here.your.host.here
LETSENCRYPT_HOST_GATEWAY=put.here.your.host.here
VIRTUAL_PORT_FRONTEND=3000
VIRTUAL_PORT_GATEWAY=8000
HTTP_PROXY=http://put.here.your.proxy:8080
HTTPS_PROXY=http://put.here.your.proxy:8080
http_proxy=http://put.here.your.proxy:8080
https_proxy=http://put.here.your.proxy:8080
DEFAULT_NO_PROXY=127.0.0.1,localhost,auth-db,auth-api,physical-api,physical-db,physical_worker,temporal,temporal-postgres,temporal-ui,minio
